*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", sans-serif;

}
:root{
    --main-color:#2196f3;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }    
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }   
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* end global */
.start{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: hwb(165deg 16% 60% / 94%);
}
.start span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    color: white;
    background-color: black;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}
.info{
    display: flex;
    padding: 20px;
    border: 3px solid #0981ad;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 10px auto;
    font-size: 25px;
    font-weight: 600;
    background-color: white;

}
.info .name{}
.info .name span{}
.info .tries{}
.info .tries span{}
.game-block{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 20px auto;
    border: 3px solid #0981ad;
}
.game-block.no-click{
    pointer-events: none;
}
.game-block .block{
    border: 4px solid black;
    margin: 0 10px 20px;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    height: 200px;
}
.game-block .block .face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
}
.game-block .block .front{
    background-color: #333;
    line-height: 200px;
}
.game-block .block .front::before{
    content: "?";
    color: #fff;
    font-size: 140px;
    font-weight: bold;
}
.game-block .block .back{
    /* background-color: #0981ad; */
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.game-block .block .back img{
    height: 140px;
    width: 140px;
    margin-top: 30px;
}
.game-block .block.isflap,
.game-block .block.ismatch{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
@media(max-width:1200px){
    .game-block{
        width: 700px;
    }
    .info{
        width: 650px;
    }
    .game-block .block{
        flex-basis: 110px;
    }
    .game-block .block .back img{
        height: 110px;
        width: 110px;
    }
}
@media(max-width:767px){
    .game-block{
        width: 350px;
    }
    .info{
        width: 350px;
    }
    .game-block .block{
        flex-basis: 60px;
    }
    .game-block .block .back img{
        height: 80%;
        width: 50px;
    }
    
}